<div class="container login">
    <h5 class="login__title primary-text-color">Login / Signup</h5>
    <div class="z-depth-1 row form-container">
        <form class="col s12">
            <div class="row" *ngIf="requestInProgress">
                    <mat-spinner class="spinner"></mat-spinner>
            </div>
            <div class="row">
            <!-- <mat-form-field class="full-width"> -->
                <div class="col s12">
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input matInput placeholder="Email" #email id="email" type="email" class="validate">
                    </div>
                </div>
            <!-- </mat-form-field> -->
            </div>
            
            
            <div class="row">
            <!-- <mat-form-field class="full-width"> -->
                <div class="col s12">
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input matInput placeholder="Password"  #password id="password" type="password" class="validate">
                    </div>
                </div>
            <!-- </mat-form-field> -->
            </div>
            
            <div class="row">
                <div class="col s12">
                    <a id="btn-signup" (click)="signup(email.value, password.value)" class="col s5 offset-s1 accent-color btn waves-effect waves-light">
                      Signup
                    </a>
                    <a id="btn-login" (click)="login(email.value, password.value)" class="col s5 offset-s1 accent-color btn waves-effect waves-light">
                      Login
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>